/*general*/


body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color:black;
    margin: 0;
    padding: 0;
    background-image: url('img/ombres.png');
}


/***************Navigation*********************/
:root{
  --hauteur-menu: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #d84848;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #d84848;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #d84848;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sous-menu > li:hover {
  background-color: #d84848;
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sous-menu > li:hover > a {
  color: white;
}


/********************article****************************/
article,fieldset {
 margin-top: 20px;
 margin-bottom: 20px;
}
fieldset h3,h1,h2 {
padding: 15px;
text-align: center;
background-color: darkcyan;
}
fieldset  {
  margin: 0.1em;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

/*tableau*/
.box{
  border: 2px solid black;
}
   .t2 td, .t2 th{
   border: 1px solid orange;
 }
table{
border-collapse: collapse;

}

th, td{
 border: 1px solid black;
 padding: 10px;
}
.t1{
 border-spacing: 15px;
}
.t2{
 border-spacing: 0px;
}
th, td{
 border: 2px solid black;
 padding: 10px;
}

/*************bouton de navigation*************/
#btnAjouter, #btnEnvoyer {
  background-color:#1e8925 ;
  color: white;
  text-decoration: none;
  border: none;
  padding: 1em;
  box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.3);
}

#btnAjouter:hover,#btnEnvoyer:hover {
  background-color: white;
  color:#1e8925;
  box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.3);
}

.btnSemaine {
  background-color:#ffffff ;
  color: #2169EC;
  border: none;
  padding: 1em;
  box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.3);
}
.btnSemaine:hover {
  background-color: #2169EC;
  color: white;
  box-shadow: 2px 1px 2px 1px rgba(0,0,0,0.3);
}

#btnSemaine{
  flex-flow: column wrap;
}
#btnSemaine {
  flex-basis: auto; /* default auto */
}
.container {
  display: flex; /* or inline-flex */
}

#navDescription{
 display: flex;
 justify-content: center;
 margin: 1em;
}
/******************formulaire denvoie****************************/

.formEnvoie{
  padding: 10px;
  margin: 10px;
}

label {
 margin-left: 10px;
 margin-top: 30px;
}


#accueilFieldset > #lstTechno{
  padding-left: 30px;
}